* {
    margin: 0%;
    padding: 0%;
}

body {
    overflow-x: hidden;
    box-sizing: border-box;
    min-height: 100vh;
    /* background-color: rgb(221, 221, 221); */
}

.nav-top {
    background-color: #131921;
}

.image {
    max-width: 120px;
    max-height: auto;
}

a {
    color: white;
    text-decoration: none;
}

.nav-small-font {
    font-size: 12px;
}

.input-group input {
    width: 200px;
}

.nav-item a {
    color: white;
    text-decoration: none;
}


.hover {
    /* border: 1px solid white; */
    padding: 4px;
}

.hover:hover {
    border: 1px solid white;
    padding: 4px;
}

.nav-bottom {
    background-color: #232f3e;
}

.hover-a {
    color: white;
}

.hover-a:hover {
    color: white;
    border: 1px solid white;
}

.hover-a:focus {
    color: white !important;
}

.slider-height {
    height: 250px;
}

@media only screen and (min-width: 1326px) {
    .slider-height {
        height: 250px;
    }
}

@media only screen and (max-width: 992px) {
    .slider-height {
        height: 150px;
    }
}

@media only screen and (max-width: 690px) {
    .slider-height {
        height: 100px;
    }
}

.carousel-control-prev,
.carousel-control-next {
    align-items: start;
    top: 20%;
}

.card {
    border-radius: 0% !important;
}

.card .d-flex img {
    border-radius: 0% !important;
}


.link {
    text-decoration: none;
    color: white;
}

footer {
    background-color: #232f3e;
    position: relative !important;

}

.footer button {
    background-color: #46576d;
    color: white;
    outline: none;
    border: none;
}

ul li a {
    text-decoration: none;
    color: white;
}

ul li {
    list-style-type: none;
    padding-left: 5px;
}

ul h5 {
    color: white;

}

.footer-desc {
    background-color: #131921;
}

.footer-desc .container a {
    font-size: 12px;
}